.heroCard {
  width: 100%;
  max-width: 185px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  cursor: pointer;
}

.heroCard:hover {
  transform: scale(1.125);
}

.heroImage {
  width: 75%;
  height: 185px;
  border-radius: 5px;
}

.heroInfos {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

.heroInfos>h2 {
  font-family: 'Salsa', cursive;
  font-size: 0.825rem;
  text-transform: uppercase;
  color: rgba(211, 211, 211, 0.8);
}

.heroName {
  font-style: italic;
}

.heroPower {
  display: flex;
  align-items: center;
  column-gap: 8px;
}