.heroes-container {
  width: 100%;
  padding: 100px 40px 50px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 60px;
}

.search-container {
  padding: 50px 20px;
  display: flex;
  justify-content: flex-end;
}