.container {
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

form {
  position: relative;
}

.searchInput {
  width: 220px;
  padding: 12px 45px;
  background-color: #000;
  color: #FFF;
  font-size: 0.875rem;
  border: 2px solid royalblue;
  border-radius: 20px;
  outline: none;
}